<head>
    <title>Dacquoise</title>
    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://kit.fontawesome.com/998858285b.js" crossorigin="anonymous"></script>
    <script src="/static/js/jquery-3.6.1.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
<script>
    let mode = "{{ mode }}"
</script>
{# ----------- 検索ボタン ----------- #}
{% if mode in ["kobun", "english"] %}
<div class="search">
    <input type="text" id="keyword" placeholder="{{ word }}"/><i class="fa-solid fa-magnifying-glass"></i>
    <img id="loading" src="/static/images/loading.svg">
</div>
{% endif %}
{# ----------- 追加ボタン ----------- #}
{% if mode == "kobun" %}
<div class="menu">
    <a class="click" style="background-color: rebeccapurple;margin: 0 0 30px 20px;" href="{{ url_for('index', mode='kobun_list') }}">古文単語一覧</a>
</div>
{% endif %}
{% if mode == "kobun_list" %}
<div class="menu" style="margin-top: 20px;">
    <a class="click" id="change_s" style="background-color: deepskyblue;margin: 0 5px 20px 20px;">昇順</a>
    <a class="click" id="change_r" style="background-color: deepskyblue;margin: 0 5px 20px 5px;">ランダム</a>
    <input type="text" id="range" placeholder="例) 1-351" value="{{ raw_range }}"/>
</div>
{% endif %}
{# ------------- 英単語 ------------- #}
{% if weblio %}
<h1 class="e_title">意味</h1>
<p>{{ weblio }}</p>
{% endif %}
{% if gogen_edj %}
<h1 class="e_title">語源</h1>
    <p>
    {% for text in gogen_edj[0] %}
        {{ text }}<br>
    {% endfor %}
    </p>
<h1 class="e_title">関連語</h1>
    <ul style="font-size: 13px">
    {% for meta in gogen_edj[1] %}
        <li><a class="click" href="{{ url_for('index', mode='english', query=meta['raw'])}}">{{ meta["label"] }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{# ------------- 古文単語 ------------- #}
{% if kakusin %}
<h1 class="k_title">意味</h1>
    <p>
    {% for meaning in kakusin['meanings'] %}
        {{ meaning|safe }}<br>
    {% endfor %}
    </p>
<h1 class="k_title">ポイント</h1>
    <p>{{ kakusin['core'] }}</p>
    <p>ページ: {{ kakusin['page'] }}</p>
{% endif %}
{% if gorogo %}
<h1 class="k_title">解説</h1>
<div class="gorogo">
    <div><img style="width:100%" src="{{ gorogo['tit'] }}"></div>
    <div>
        <img style="width:65%;float:left" src="{{ gorogo['fig'] }}">
        <img style="width:65%;float:left" src="{{ gorogo['imi'] }}">
    </div>
    <img style="height:35%;" src="{{ gorogo['goro'] }}">
</div>
{% endif %}
{# ----------- 古文単語一覧 ------------ #}
{% if mode == "kobun_list" %}
<table class="kobun_list">
    {% for key, data in kakusin_db.items() %}
        {% if range[0] <= key|int <= range[1] %}
            <tr>
                <td class="h{{key}}" rowspan="{{ data['meanings']|length }}">{{ key }}</td>
                <td class="h{{key}} kobun_list_w" rowspan="{{ data['meanings']|length }}">{{ data['word'] }}</td>
                <td class="m{{key}} kobun_list_m">{{ data['meanings'][0]|safe }}</td>
            </tr>
            {% for plus in data['meanings'][1:] %}
                <tr>
                    <td class="m{{key}} kobun_list_m">{{ plus|safe }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
</table>
{% endif %}
{# ------------ 選択バー ------------ #}
<div class="bar">
    <ul>
        <li><a class="bar_english click" href="{{ url_for('index', mode='english') }}"><i class="fa-solid fa-spell-check"></i><span>英単語</span></a></li>
        <li><a class="bar_kobun click"  href="{{ url_for('index', mode='kobun') }}"><i class="fa-solid fa-book"></i><span>古文単語</span></a></li>
    </ul>
    <style>.bar_{{mode}} { color: #7b68ee; }</style>
</div>
</body>
